[
    {
        "link": "https://cloud.bau-ha.us/remote.php/dav/public-calendars/dp9W57Tk8wNMEqEJ?export",
        "name": "Job",
        "owner": "Ludwig"
    },
    {
        "link": "https://cloud.bau-ha.us/remote.php/dav/public-calendars/Tqxe4Y9dcwF5fZQd?export",
        "name": "Ehrenamt",
        "owner": "Ludwig"
    },
    {
        "link": "https://cloud.bau-ha.us/remote.php/dav/public-calendars/Ddp6piNKe7TYgqgJ?export",
        "name": "Events",
        "owner": "Ludwig"
    },
    {
        "link": "https://cloud.bau-ha.us/remote.php/dav/public-calendars/No39ZToYQxz4eEQq?export",
        "name": "Stundenplan",
        "owner": "Ludwig"
    },
    {
        "link": "https://cloud.bau-ha.us/remote.php/dav/public-calendars/3Y2TCdndzpKAmydx?export",
        "name": "Wochenplanung",
        "owner": "Ludwig"
    },
    {
        "link": "https://cloud.bau-ha.us/remote.php/dav/public-calendars/sfBPPHtGs43oGXRF?export",
        "name": "Freunde",
        "owner": "Ludwig"
    }
]